/* REGOLE DI RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
/* 
.section {
  padding: 48px 0;
} */

.container {
  max-width: 900px;
  margin: 0 auto;
}

/* FINE REGOLE DI RESET */

/* REGOLE DI DEBUG */
header.debug {
  min-height: 50px;
  padding: 20px;
  background-color: #add8e6;
}

.page-content.debug {
  min-height: 100px;
  background-color: grey;
}
footer.debug {
  min-height: 100px;
  padding: 30px;
  background-color: black;
}

.container.debug {
  min-height: 30px;
  background-color: #daa420;
  border: 2px dashed black;
}
.col.debug {
  border: 2px dotted black;
}
.s1-bg.debug {
  min-height: 300px;
  background-color: #000f8b;
  padding: 30px 0px;
}
.s1-cont.debug {
  background-color: rgb(238, 130, 238);
  border: 2px dashed black;
  text-align: center;
  font-size: x-large;
}

.s2-bg.debug,
.s4-bg.debug {
  min-height: 100px;
  background-color: rgb(255, 255, 255);
  padding: 30px 0px;
}
.cols2a.debug,
.cols4a.debug {
  background-color: #1d90ff;
  min-height: 300px;
  font-size: x-large;
}
.cols2b.debug,
.cols4b.debug {
  background-color: rgb(238, 130, 238);
  min-height: 300px;
  font-size: x-large;
}

.s3-bg.debug,
.s5-bg.debug {
  min-height: 300px;
  background-color: #d3d3d3;
  padding: 30px 0px;
}

.cols3a.debug {
  background-color: rgb(238, 130, 238);
  min-height: 300px;
  font-size: x-large;
}
.cols3b.debug {
  background-color: #1d90ff;
  min-height: 100px;
  font-size: x-large;
}
.s5 .container.debug {
  background-color: green;
  min-height: 300px;
  padding: 30px;
  text-align: center;
  font-size: x-large;
}

.colf1a.debug {
  background-color: #ef8080;
  font-size: x-large;
}
.colf1b.debug,
.colf1c.debug,
.colf1d.debug,
.colf1e.debug {
  background-color: #20b2aa;
  font-size: x-large;
  min-height: 300px;
}

.colf2.debug {
  background-color: aquamarine;
  color: black;
  min-height: 50px;
  margin-top: 20px;
}

.colf2a.debug,
.colf2b.debug {
  background-color: rgb(199, 194, 194);
  margin: 10px 0;
}

/* REGOLE DI PROGETTO */
.row {
  display: flex;
  justify-content: space-between;
}
.col {
  padding: 10px;
}

.row10 {
  flex-basis: 10px;
}
.row15 {
  flex-basis: 15%;
}
.row40 {
  flex-basis: 40%;
}

.row60 {
  flex-basis: 60%;
}
.row70 {
  flex-basis: 70%;
}

.row100 {
  flex-basis: 100%;
}
.link {
  text-align: center;
}
.login {
  text-align: right;
}

.s1-bg {
  min-height: 300px;
  padding: 30px 0px;
}
.s1-cont {
  max-width: 700px;
  margin: 0 auto;
  min-height: 300px;
  padding: 30px;
}

.s2-bg {
  min-height: 100px;
  padding: 30px 0px;
}
.cols2a,
.cols4a {
  min-height: 300px;
}
.cols2b,
.cols4b {
  min-height: 300px;
}

.s3-bg,
.s5-bg {
  min-height: 100px;
  padding: 30px 0px;
}
.cols3a {
  min-height: 300px;
}
.cols3b {
  min-height: 300px;
}

.s5 .container {
  min-height: 300px;
  padding: 30px;
}
footer {
  background-color: black;
  color: white;
}

.colf1a,
.colf1b,
.colf1c,
.colf1d,
.colf1e {
  min-height: 300px;
  margin-bottom: 30px;
}
.colf2a,
.colf2b {
  margin: 10px 0;
}
/* FINE REGOLE PROGETTO */
